body {  font-family: "Adobe Garamond Premier Pro", Garamond, "Linux Libertine", Baskerville, Georgia, serif;  font-weight: normal;  font-size: 18px;  color: #111111;  background-color: #fefefe;  padding: 1em;  width: 95vw;  max-width: 950px;  margin: 0 auto; }

.pdf-page-1{width:1200px; height:1774px;
 background-image: url(page0.jpg);}
.pdf-page-2{width:1200px; height:1774px;
 background-image: url(page1.jpg);}
.pdf-page-3{width:1200px; height:1774px;
 background-image: url(page2.jpg);}
.pdf-page-4{width:1200px; height:1774px;
 background-image: url(page3.jpg);}
.pdf-page-5{width:1200px; height:1774px;
 background-image: url(page4.jpg);}
.pdf-page-6{width:1200px; height:1774px;
 background-image: url(page5.jpg);}
.pdf-page-7{width:1200px; height:1774px;
 background-image: url(page6.jpg);}
.pdf-page-8{width:1200px; height:1774px;
 background-image: url(page7.jpg);}
.pdf-page-9{width:1200px; height:1774px;
 background-image: url(page8.jpg);}
.pdf-page-10{width:1200px; height:1774px;
 background-image: url(page9.jpg);}
.pdf-page-11{width:1200px; height:1774px;
 background-image: url(page10.jpg);}
.pdf-page-12{width:1200px; height:1774px;
 background-image: url(page11.jpg);}
.pdf-page-13{width:1200px; height:1774px;
 background-image: url(page12.jpg);}
.pdf-page-14{width:1200px; height:1774px;
 background-image: url(page13.jpg);}
.pdf-page-15{width:1200px; height:1774px;
 background-image: url(page14.jpg);}
.pdf-page-16{width:1200px; height:1774px;
 background-image: url(page15.jpg);}
.pdf-page-17{width:1200px; height:1774px;
 background-image: url(page16.jpg);}
.pdf-page-18{width:1200px; height:1774px;
 background-image: url(page17.jpg);}
.pdf-page-19{width:1200px; height:1774px;
 background-image: url(page18.jpg);}
.pdf-page-20{width:1200px; height:1774px;
 background-image: url(page19.jpg);}
.pdf-page-21{width:1200px; height:1774px;
 background-image: url(page20.jpg);}
.pdf-page-22{width:1200px; height:1774px;
 background-image: url(page21.jpg);}
.pdf-page-23{width:1200px; height:1774px;
 background-image: url(page22.jpg);}
.pdf-page-24{width:1200px; height:1774px;
 background-image: url(page23.jpg);}
.pdf-page-25{width:1200px; height:1774px;
 background-image: url(page24.jpg);}
.pdf-page-26{width:1200px; height:1774px;
 background-image: url(page25.jpg);}
.pdf-page-27{width:1200px; height:1774px;
 background-image: url(page26.jpg);}
.pdf-page-28{width:1200px; height:1774px;
 background-image: url(page27.jpg);}
.pdf-page-29{width:1200px; height:1774px;
 background-image: url(page28.jpg);}
.pdf-page-30{width:1200px; height:1774px;
 background-image: url(page29.jpg);}
.pdf-page-31{width:1200px; height:1774px;
 background-image: url(page30.jpg);}
.pdf-page-32{width:1200px; height:1774px;
 background-image: url(page31.jpg);}
.pdf-page-33{width:1200px; height:1774px;
 background-image: url(page32.jpg);}
.pdf-page-34{width:1200px; height:1774px;
 background-image: url(page33.jpg);}
.pdf-page-35{width:1200px; height:1774px;
 background-image: url(page34.jpg);}
.pdf-page-36{width:1200px; height:1774px;
 background-image: url(page35.jpg);}
.pdf-page-37{width:1200px; height:1774px;
 background-image: url(page36.jpg);}
.pdf-page-38{width:1200px; height:1774px;
 background-image: url(page37.jpg);}
.pdf-page-39{width:1200px; height:1774px;
 background-image: url(page38.jpg);}
.pdf-page-40{width:1200px; height:1774px;
 background-image: url(page39.jpg);}
.pdf-page-41{width:1200px; height:1774px;
 background-image: url(page40.jpg);}
.pdf-page-42{width:1200px; height:1774px;
 background-image: url(page41.jpg);}
.pdf-page-43{width:1200px; height:1774px;
 background-image: url(page42.jpg);}
.pdf-page-44{width:1200px; height:1774px;
 background-image: url(page43.jpg);}
.pdf-page-45{width:1200px; height:1774px;
 background-image: url(page44.jpg);}
.pdf-page-46{width:1200px; height:1774px;
 background-image: url(page45.jpg);}
.pdf-page-47{width:1200px; height:1774px;
 background-image: url(page46.jpg);}
.pdf-page-48{width:1200px; height:1774px;
 background-image: url(page47.jpg);}
.pdf-page-49{width:1200px; height:1774px;
 background-image: url(page48.jpg);}
.pdf-page-50{width:1200px; height:1774px;
 background-image: url(page49.jpg);}
.pdf-page-51{width:1200px; height:1774px;
 background-image: url(page50.jpg);}
.pdf-page-52{width:1200px; height:1774px;
 background-image: url(page51.jpg);}
.pdf-page-53{width:1200px; height:1774px;
 background-image: url(page52.jpg);}
.pdf-page-54{width:1200px; height:1774px;
 background-image: url(page53.jpg);}
.pdf-page-55{width:1200px; height:1774px;
 background-image: url(page54.jpg);}
.pdf-page-56{width:1200px; height:1774px;
 background-image: url(page55.jpg);}
.pdf-page-57{width:1200px; height:1774px;
 background-image: url(page56.jpg);}
.pdf-page-58{width:1200px; height:1774px;
 background-image: url(page57.jpg);}
.pdf-page-59{width:1200px; height:1774px;
 background-image: url(page58.jpg);}
.pdf-page-60{width:1200px; height:1774px;
 background-image: url(page59.jpg);}
.pdf-page-61{width:1200px; height:1774px;
 background-image: url(page60.jpg);}
.pdf-page-62{width:1200px; height:1774px;
 background-image: url(page61.jpg);}
.pdf-page-63{width:1200px; height:1774px;
 background-image: url(page62.jpg);}
.pdf-page-64{width:1200px; height:1774px;
 background-image: url(page63.jpg);}
.pdf-page-65{width:1200px; height:1774px;
 background-image: url(page64.jpg);}
.pdf-page-66{width:1200px; height:1774px;
 background-image: url(page65.jpg);}
.pdf-page-67{width:1200px; height:1774px;
 background-image: url(page66.jpg);}
.pdf-page-68{width:1200px; height:1774px;
 background-image: url(page67.jpg);}
.pdf-page-69{width:1200px; height:1774px;
 background-image: url(page68.jpg);}
.pdf-page-70{width:1200px; height:1774px;
 background-image: url(page69.jpg);}
.pdf-page-71{width:1200px; height:1774px;
 background-image: url(page70.jpg);}
.pdf-page-72{width:1200px; height:1774px;
 background-image: url(page71.jpg);}
.pdf-page-73{width:1200px; height:1774px;
 background-image: url(page72.jpg);}
.pdf-page-74{width:1200px; height:1774px;
 background-image: url(page73.jpg);}
.pdf-page-75{width:1200px; height:1774px;
 background-image: url(page74.jpg);}
.pdf-page-76{width:1200px; height:1774px;
 background-image: url(page75.jpg);}
.pdf-page-77{width:1200px; height:1774px;
 background-image: url(page76.jpg);}
.pdf-page-78{width:1200px; height:1774px;
 background-image: url(page77.jpg);}
.pdf-page-79{width:1200px; height:1774px;
 background-image: url(page78.jpg);}
.pdf-page-80{width:1200px; height:1774px;
 background-image: url(page79.jpg);}
.pdf-page-81{width:1200px; height:1774px;
 background-image: url(page80.jpg);}
.pdf-page-82{width:1200px; height:1774px;
 background-image: url(page81.jpg);}
.pdf-page-83{width:1200px; height:1774px;
 background-image: url(page82.jpg);}
.pdf-page-84{width:1200px; height:1774px;
 background-image: url(page83.jpg);}
.pdf-page-85{width:1200px; height:1774px;
 background-image: url(page84.jpg);}
.pdf-page-86{width:1200px; height:1774px;
 background-image: url(page85.jpg);}
.pdf-page-87{width:1200px; height:1774px;
 background-image: url(page86.jpg);}
.pdf-page-88{width:1200px; height:1774px;
 background-image: url(page87.jpg);}
.pdf-page-89{width:1200px; height:1774px;
 background-image: url(page88.jpg);}
.pdf-page-90{width:1200px; height:1774px;
 background-image: url(page89.jpg);}
.pdf-page-91{width:1200px; height:1774px;
 background-image: url(page90.jpg);}
.pdf-page-92{width:1200px; height:1774px;
 background-image: url(page91.jpg);}
.pdf-page-93{width:1200px; height:1774px;
 background-image: url(page92.jpg);}
.pdf-page-94{width:1200px; height:1774px;
 background-image: url(page93.jpg);}
.pdf-page-95{width:1200px; height:1774px;
 background-image: url(page94.jpg);}
.pdf-page-96{width:1200px; height:1774px;
 background-image: url(page95.jpg);}
.pdf-page-97{width:1200px; height:1774px;
 background-image: url(page96.jpg);}
.pdf-page-98{width:1200px; height:1774px;
 background-image: url(page97.jpg);}
.pdf-page-99{width:1200px; height:1774px;
 background-image: url(page98.jpg);}
.pdf-page-100{width:1200px; height:1774px;
 background-image: url(page99.jpg);}
.pdf-page-101{width:1200px; height:1774px;
 background-image: url(page100.jpg);}
.pdf-page-102{width:1200px; height:1774px;
 background-image: url(page101.jpg);}
.pdf-page-103{width:1200px; height:1774px;
 background-image: url(page102.jpg);}
.pdf-page-104{width:1200px; height:1774px;
 background-image: url(page103.jpg);}
.pdf-page-105{width:1200px; height:1774px;
 background-image: url(page104.jpg);}
.pdf-page-106{width:1200px; height:1774px;
 background-image: url(page105.jpg);}
.pdf-page-107{width:1200px; height:1774px;
 background-image: url(page106.jpg);}
.pdf-page-108{width:1200px; height:1774px;
 background-image: url(page107.jpg);}
.pdf-page-109{width:1200px; height:1774px;
 background-image: url(page108.jpg);}
.pdf-page-110{width:1200px; height:1774px;
 background-image: url(page109.jpg);}
.pdf-page-111{width:1200px; height:1774px;
 background-image: url(page110.jpg);}
.pdf-page-112{width:1200px; height:1774px;
 background-image: url(page111.jpg);}
.pdf-page-113{width:1200px; height:1774px;
 background-image: url(page112.jpg);}
.pdf-page-114{width:1200px; height:1774px;
 background-image: url(page113.jpg);}
.pdf-page-115{width:1200px; height:1774px;
 background-image: url(page114.jpg);}
.pdf-page-116{width:1200px; height:1774px;
 background-image: url(page115.jpg);}
.pdf-page-117{width:1200px; height:1774px;
 background-image: url(page116.jpg);}
.pdf-page-118{width:1200px; height:1774px;
 background-image: url(page117.jpg);}
.pdf-page-119{width:1200px; height:1774px;
 background-image: url(page118.jpg);}
.pdf-page-120{width:1200px; height:1774px;
 background-image: url(page119.jpg);}
.pdf-page-121{width:1200px; height:1774px;
 background-image: url(page120.jpg);}
.pdf-page-122{width:1200px; height:1774px;
 background-image: url(page121.jpg);}
.pdf-page-123{width:1200px; height:1774px;
 background-image: url(page122.jpg);}
.pdf-page-124{width:1200px; height:1774px;
 background-image: url(page123.jpg);}
.pdf-page-125{width:1200px; height:1774px;
 background-image: url(page124.jpg);}
.pdf-page-126{width:1200px; height:1774px;
 background-image: url(page125.jpg);}
.pdf-page-127{width:1200px; height:1774px;
 background-image: url(page126.jpg);}
.pdf-page-128{width:1200px; height:1774px;
 background-image: url(page127.jpg);}
.pdf-page-129{width:1200px; height:1774px;
 background-image: url(page128.jpg);}
.pdf-page-130{width:1200px; height:1774px;
 background-image: url(page129.jpg);}
.pdf-page-131{width:1200px; height:1774px;
 background-image: url(page130.jpg);}
.pdf-page-132{width:1200px; height:1774px;
 background-image: url(page131.jpg);}
.pdf-page-133{width:1200px; height:1774px;
 background-image: url(page132.jpg);}
.pdf-page-134{width:1200px; height:1774px;
 background-image: url(page133.jpg);}
.pdf-page-135{width:1200px; height:1774px;
 background-image: url(page134.jpg);}
.pdf-page-136{width:1200px; height:1774px;
 background-image: url(page135.jpg);}
.pdf-page-137{width:1200px; height:1774px;
 background-image: url(page136.jpg);}
.pdf-page-138{width:1200px; height:1774px;
 background-image: url(page137.jpg);}
.pdf-page-139{width:1200px; height:1774px;
 background-image: url(page138.jpg);}
.pdf-page-140{width:1200px; height:1774px;
 background-image: url(page139.jpg);}
.pdf-page-141{width:1200px; height:1774px;
 background-image: url(page140.jpg);}
.pdf-page-142{width:1200px; height:1774px;
 background-image: url(page141.jpg);}
.pdf-page-143{width:1200px; height:1774px;
 background-image: url(page142.jpg);}
.pdf-page-144{width:1200px; height:1774px;
 background-image: url(page143.jpg);}
.pdf-page-145{width:1200px; height:1774px;
 background-image: url(page144.jpg);}
.pdf-page-146{width:1200px; height:1774px;
 background-image: url(page145.jpg);}
